@model TrueCrimeRepo.Models.PerpetratorDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PerpetratorDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PerpetratorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PerpetratorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CrimeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CrimeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PerpetratorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
