@model IEnumerable<TrueCrimeRepo.Models.BookListItem>

@{
    ViewBag.Title = "Index";
}
<img src="~/Images/Books.png">
@*<h2>True Crime Books</h2>*@
<h3>Find all of our books listed below. </h3>
<br/>
<p>
    <a href='@Url.Action("Create")' class="btn btn-success"> <i class="fas fa-plus"></i>  ADD a book to a true crime</a>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
@if (TempData.ContainsKey("SaveResult"))
{
<div class="alert alert-success fade in" role="alert">

    <button type="button" class="close" data-dismiss="alert">
        <span>&times;</span>
    </button>

    @TempData["SaveResult"]
</div>
}
<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.BookID)
            </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.CrimeID)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Crime.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)   <i class="fas fa-book"></i>
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookAuthor)
        </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.CreatedUtc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedUtc)
            </th>*@
        <th class="col-md-3">
            To view details, edit, or delete, please click below.
        </th>
    </tr>

    @foreach (var item in Model.OrderBy(Model => Model.Crime.Title))
    {
        <tr style="background-color: lightgray">
            @*<td>
                    @Html.DisplayFor(modelItem => item.BookID)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.CrimeID)
                </td>*@
            <td>
                <u><a href="@Url.Action("Details", "Crime", new { id = item.CrimeID })">@Html.DisplayFor(modelItem => item.Crime.Title)</a></u>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title) 
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookAuthor)
            </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.CreatedUtc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedUtc)
                </td>*@
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.BookID }, new { @class = "btn btn-default" })
                @Html.ActionLink("Edit", "Edit", new { id = item.BookID }, new { @class = "btn btn-default" })
                @Html.ActionLink("Delete", "Delete", new { id = item.BookID }, new { @class = "btn btn-danger" })
            </td>
        </tr>

    }

</table>
