@model TrueCrimeRepo.Models.PodcastDetail

@{
    ViewBag.Title = "Details";
}

<h2>Podcast Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.PodcastID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PodcastID)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.Crime.Title)
        </dt>
        <dd style="color: white;">
            @*@Html.DisplayFor(model => model.Crime.Title)*@

            <a href="@Url.Action("Details", "Crime", new { id = Model.CrimeID })">@Html.DisplayFor(modelItem => Model.Crime.Title)</a>
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.CrimeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CrimeID)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PodcastEpisodeTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PodcastEpisodeTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebsiteUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebsiteUrl)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PodcastID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

